.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
  
  }

  .LoginPage {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid rgb(247, 250, 251);
    border-radius: 5px;
    box-shadow: 30px 20px 10px rgba(243, 242, 242, 0.343);
  }
  
  
  .LoginPage h1 {
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
    color: #c13232;

  }
  
  .LoginPage label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;

  }
   
  .LoginPage input[type="password"], input[type="email"] {
    width: 377px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 150px;
  }
  
  .LoginPage button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #c13232;
    color: rgb(250, 249, 249);
    cursor: pointer; 
  }
  
  .LoginPage button[type="submit"]:hover {
    background-color: #d65c56;
  }
  
  
  
  .LoginPage p {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color:azure;
  }
  
  .LoginPage a {
    font-size: 17px;
    color: #c13232;
    margin-left: 20px;
  
  } 